* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
header {
    background-image:url(img/hero.jpg);
    height: 100vh;
    /*background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;

    /*background-attachment: fixed;*/
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

ul.main-nav {
float:right;
}

ul.main-nav li{
    display: inline-block;
}

.logo {
    height:100px;
    width:auto;
    float: left;
    margin-top: 20px;
}

